* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans Light";
  letter-spacing: 0.05em;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.home-wrapper {
  box-shadow: 3px 3px 3px 2px grey;
  background-color: #fff;
  width: 800px;
  height: 600px;
  border-radius: 15px;
  padding: 0px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title_show ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 15px 15px 0px 0px;
}

.title_show li {
  float: left;
}

.title_show li a {
  display: block;

  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title_show li a:hover:not(.active) {
  background-color:slategrey;
  color: white;
}

.title_show li a.active {
  color: white;
  background-color:slategrey ;
}

.main {
  height: 430px;
  padding-top: 100px;
  padding-left: 120px;
  color: #333;
}

.foot_show {

  background-color: #333;
  border-radius: 0px 0px 15px 15px;
  text-align: right;
  padding: 0px 10px 0px 0px;
  color: white;
}
